*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  background-color: transparent;
}

body {
  font-family: "Montserrat";
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1440px !important;
}

.cards-box {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 430px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.cards-box-bg {
  background-color: #F8FAFD;
  border-radius: 5px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.cards-box-bg__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.cards-box-content__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.cards-box-content__author {
  font-weight: 500;
  font-size: 13px;
  color: #757881;
  line-height: 0;
}
.cards-box-content__year {
  font-weight: 500;
  font-size: 13px;
  color: #757881;
  line-height: 0;
}
.cards-box-content-buttons__warning {
  font-family: "Rubik";
  font-weight: 1000;
  font-size: 13px !important;
  line-height: 17px;
}
.cards-box-content-buttons__info {
  font-weight: 600;
  font-size: 13px !important;
  line-height: 17px;
  font-family: "Rubik";
  background: rgba(13, 117, 255, 0.05);
}
.cards-box-content-buttons__info:hover {
  background: rgba(13, 117, 255, 0.05);
}
.cards-box-content-buttons__read {
  font-weight: 500;
  font-size: 13px !important;
  line-height: 17px;
  width: 100%;
  background-color: #757881;
  font-family: "Rubik";
  margin-left: 2.5px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 18px !important;
  padding-left: 18px !important;
}

.wrapper {
  margin-top: 2px;
}
.wrapper .result__title {
  font-family: "Rubik";
  font-weight: 500;
  line-height: 17px;
}
.wrapper .result-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #A6B0C3;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
}
.wrapper .result-btn .fa-calendar {
  font-size: 20px;
}
.wrapper .result-btn__text {
  margin-top: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-family: "Rubik";
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
}

.nav-link__intro {
  height: 44px;
  object-fit: cover;
}
.nav-form-label {
  position: relative;
}
.nav-form-label__icon {
  font-size: 20px;
  color: #B8B9BE;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
}
.nav-form-label__search {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  font-family: "Rubik";
  color: rgba(0, 0, 0, 0.24);
  text-indent: 48px;
  background-color: #E5E5E5;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: 1px solid #F8FAFD;
  outline: none;
  width: 670px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-form-label__search::placeholder {
  color: rgba(0, 0, 0, 0.24);
}
.nav-contact__sun {
  color: #FFCE31;
  cursor: pointer;
  font-size: 25px;
}
.nav-contact__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik";
  background-color: #0D75FF;
}
.nav-contact__btn:focus {
  background-color: #0D75FF !important;
}
.nav-contact__btn:hover {
  background-color: #0D75FF !important;
}

@media only screen and (max-width: 975px) {
  .nav-form-label__search {
    width: 570px;
  }
}
@media only screen and (max-width: 870px) {
  .nav-form-label__search {
    width: 470px;
  }
}
@media only screen and (max-width: 770px) {
  .nav-link__intro {
    object-fit: cover;
    height: 35px;
  }
}
@media only screen and (max-width: 725px) {
  .nav-form-label__search {
    width: 400px;
  }
}
@media only screen and (max-width: 655px) {
  .container {
    padding: 0 10px !important;
  }
}
@media only screen and (max-width: 635px) {
  .nav-link__intro {
    object-fit: cover;
    height: 30px;
  }
  .nav-form-label__icon {
    top: 12px;
    font-size: 18px;
  }
  .nav-form-label__search {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 510px) {
  .container {
    padding: 0 5px !important;
  }
  .nav-link__intro {
    object-fit: cover;
    height: 27px;
  }
  .nav-form-label__search {
    width: 250px;
    top: 8px;
    bottom: 8px;
  }
}
@media only screen and (max-width: 431px) {
  .nav-link__intro {
    object-fit: contain;
    height: 25px;
  }
  .nav-form-label__search {
    width: 200px;
    top: 8px;
    bottom: 8px;
  }
}
@media only screen and (max-width: 371px) {
  .nav-link {
    margin: 0 auto;
  }
  .nav-link__intro {
    height: 30px;
    object-fit: cover;
  }
  .nav-form {
    width: 100%;
    text-align: center;
  }
  .nav-form-label__icon {
    top: 27px;
  }
  .nav-form-label__search {
    margin-top: 15px;
    width: 300px;
  }
}
.bg-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 100%;
  z-index: 1;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.bg-wrapper.active {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  left: 0;
}
.bg-wrapper .navbar {
  min-height: 100vh;
  width: 30%;
  overflow: auto;
}
.bg-wrapper .navbar::-webkit-scrollbar {
  background-color: #0D75FF;
  width: 10px;
  margin-top: 10px;
}
.bg-wrapper .navbar::-webkit-scrollbar-thumb {
  background-color: #A6B0C3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.bg-wrapper .navbar-container {
  position: absolute;
  top: 10px;
  min-height: 100vh;
}
.bg-wrapper .navbar-container-content {
  margin-top: 50px;
}
.bg-wrapper .navbar-container-content__times {
  position: absolute;
  left: 340px;
  font-size: 20px;
  top: 20px;
  cursor: pointer;
}
.bg-wrapper .navbar-container-content__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.bg-wrapper .navbar-container-content__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 155.6%;
  max-width: 220px;
}
.bg-wrapper .navbar-container-card {
  border-radius: 4px;
  background-color: #F8FAFD;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bg-wrapper .navbar-container-card-box__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.bg-wrapper .navbar-container-card-box__book {
  cursor: pointer;
}
.bg-wrapper .navbar-container-card-box__delete {
  cursor: pointer;
}

.login {
  background-image: url("../../images/bg/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: stretch;
  flex-direction: row;
  width: 100%;
}
.login-container {
  width: 25%;
  margin: 0 auto;
}
.login-container-link__img {
  height: 44px;
}
.login-container-form__input {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-indent: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.login-container-form__input::placeholder {
  color: #FFFFFF;
  text-transform: uppercase;
}
.login-container-form i {
  position: absolute;
  top: 12.5px;
  left: 10px;
  z-index: 1;
}
.login-container-form__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #0D75FF;
  padding-top: 12px;
  padding-bottom: 12px;
}
.login-container-form__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@media only screen and (max-width: 1000px) {
  .login-container {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .login-container {
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  .login-container {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */