$search-color: #B8B9BE;
$bg-color: #E5E5E5;
$input-border-color: #F8FAFD;
$sun-color: #FFCE31;
$search-btn-color: #0D75FF;


.header {
  width: 100%;
  position: sticky;
  top: 0;

  .nav {
    &-link {
      &__intro {
        height: 44px;
        object-fit: cover;
      }
    }

    &-form {
      &-label {
        position: relative;

        &__icon {
          font-size: 20px;
          color: $search-color;
          cursor: pointer;
          position: absolute;
          top: 15px;
          left: 15px;
        }

        &__search {
          font-weight: 500;
          font-size: 15px;
          line-height: 15px;
          font-family: 'Rubik';
          color: rgba(0, 0, 0, 0.24);
          text-indent: 48px;
          background-color: $bg-color;
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
          border-radius: 30px;
          border: 1px solid $input-border-color;
          outline: none;
          width: 670px;

          padding: {
            top: 15px;
            bottom: 15px;
          }

          &::placeholder {
            color: rgba(0, 0, 0, 0.24);
          }
        }
      }
    }

    &-contact {
      &__sun {
        color: $sun-color;
        cursor: pointer;
        font-size: 25px;
      }

      &__btn {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        font-family: 'Rubik';
        background-color: $search-btn-color;

        &:focus {
          background-color: $search-btn-color !important;
        }

        &:hover {
          background-color: $search-btn-color !important;

        }
      }
    }
  }
}

@media only screen and (max-width: 975px) {
  .header {
    .nav {
      &-form {
        &-label {
          &__search {
            width: 570px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 870px) {
  .header {
    .nav {
      &-form {
        &-label {
          &__search {
            width: 470px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .header {
    .nav {
      &-link {
        &__intro {
          object-fit: cover;
          height: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width: 725px) {
  .header {
    .nav {
      &-form {
        &-label {
          &__search {
            width: 400px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 635px) {
  .header {
    .nav {
      &-link {
        &__intro {
          object-fit: cover;
          height: 30px;
        }
      }

      &-form {
        &-label {
          &__icon {
            top: 12px;
            font-size: 18px;
          }

          &__search {
            width: 350px;

            padding: {
              top: 10px;
              bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .header {
    .nav {
      &-link {
        &__intro {
          object-fit: cover;
          height: 30px;
        }
      }

      &-form {
        &-label {
          &__icon {
            top: 12px;
            font-size: 18px;
          }

          &__search {
            width: 300px;

            padding: {
              top: 10px;
              bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  .container {
    padding: 0 5px !important;
  }

  .header {
    .nav {
      &-link {
        &__intro {
          object-fit: cover;
          height: 27px;
        }
      }
  
      &-form {
        &-label {
          &__search {
            width: 250px;
            top: 8px;
            bottom: 8px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 442px) {
  .header {
    .nav {
      &-link {
        &__intro {
          object-fit: contain;
          height: 25px;
        }
      }
  
      &-form {
        &-label {
          &__search {
            width: 200px;
            top: 8px;
            bottom: 8px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 382px) {
  .header {
    .nav {
      &-link {
        margin: 0 auto;
  
        &__intro {
          height: 30px;
          object-fit: cover;
        }
      }
  
      &-form {
        width: 100%;
        text-align: center;
  
        &-label {
          &__icon {
            top: 27px;
          }
  
          &__search {
            margin: {
              top: 15px;
            }
  
            width: 300px;
          }
        }
      }
    }
  }
}