$placeholder-color: #FFFFFF;
$btn-color: #0D75FF;
$search-color: #B8B9BE;
$input-border-color: #F8FAFD;
$sun-color: #FFCE31;
$search-btn-color: #0D75FF;
$btn-content-bg-color: #A6B0C3;
$bg-color: #E5E5E5;
$card-text-color: #757881;
$btn-primary-color: #75828A;

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1440px !important;
  overflow: hidden;
}

@media only screen and (max-width: 655px) {
  .container {
    padding: 0 10px !important;
  }
}