$read-bg-color:#FFFFFF;
$title-color: #222531;
$times-color: #58667E;
$header-bg-color: #F8FAFD;
$value-color: #0D75FF;
$value-bg-color: #0d75ff17;
$btn-bg-color: #75828A;
$btn-group: #FFFFFF;

.bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 3;
  position: fixed;
  overflow: auto;
  left: 100%;
  transition: all .3s linear;

  &.active {
    left: 0;
  }

  &::-webkit-scrollbar {
    background-color: rgb(70, 70, 70);
    width: 10px;

    margin: {
      top: 10px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .read {
    max-width: 552px;
    min-height: 100vh;
    background-color: $read-bg-color;
    min-height: 1166px;
    z-index: 5;
    position: relative;
    overflow: auto;
    left: 60%;

    &-header {
      background-color: $header-bg-color;
      top: 0;

      padding: {
        top: 22px;
        bottom: 22px;
        left: 30px;
        right: 30px;
      }

      &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        color: $title-color;
        max-width: 300px;
      }

      &__times {
        font-size: 20px;
        color: $times-color;
        cursor: pointer;
      }
    }

    &-book {
      margin: {
        top: 45px;
      }

      &__book {
        height: 300px;
        object-fit: cover;
      }
    }

    &-content {
      padding: {
        left: 35px;
        right: 35px;
      }

      margin: {
        top: 50px;
      }

      &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 170.3%;
        color: $times-color;
        max-width: 520px;
      }
    }

    &-about {
      margin: {
        top: 50px;
      }

      padding: {
        left: 35px;
        right: 35px;
      }

      &-box {
        display: flex;
        align-items: center;
        gap: 15px;

        &-values {
          display: flex;
          align-items: center;
          gap: 5px;

          &__value {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $value-color;

            padding: {
              top: 5px;
              bottom: 5px;
              left: 25px;
              right: 25px;
            }

            background-color: $value-bg-color;
            border-radius: 30px;
          }
        }
      }
    }

    &-body {
      padding: {
        left: 35px;
        right: 35px;
      }

      background-color: $btn-group;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

      margin: {
        top: 130px;
      }

      &__btn {
        color: $btn-group;

        padding: {
          top: 10px;
          bottom: 10px;
          left: 40px;
          right: 40px;
        }

        background-color: $btn-bg-color;
        border-radius: 4px;
        border: 1px solid $btn-bg-color;
        transition: all .2s linear;

        &:hover {
          background-color: transparent;
          color: $btn-bg-color !important;
        }
      }
    }
  }
}


@media only screen and (max-width: 1350px) {
  .bg {
    .read {
      left: 55%;
    }
  }
}

@media only screen and (max-width: 1230px) {
  .bg {
    .read {
      left: 50%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .bg {
    .read {
      left: 45%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .bg {
    .read {
      left: 40%;
    }
  }
}

@media only screen and (max-width: 930px) {
  .bg {
    .read {
      left: 35%;
    }
  }
}

@media only screen and (max-width: 850px) {
  .bg {
    .read {
      left: 30%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .bg {
    .read {
      left: 25%;
    }
  }
}

@media only screen and (max-width: 750px) {
  .bg {
    .read {
      left: 20%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .bg {
    .read {
      left: 15%;
    }
  }
}

@media only screen and (max-width: 650px) {
  .bg {
    .read {
      left: 10%;
    }
  }
}

@media only screen and (max-width: 630px) {
  .bg {
    .read {
      left: 5%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .bg {
    .read {
      left: 0;
    }
  }
}

@media only screen and (max-width: 400px) {
  .bg {
    .read {
      left: 0;

      &-header {
        padding: {
          left: 15px;
          right: 15px;
        }
        &__title {
          font-size: 18px;
        }
      }

      &-content {
        padding: {
          left: 20px;
          right: 20px;
        }
      }

      &-about {
        padding: {
          left: 20px;
          right: 20px;
        }
      }

      &-body {
        padding: {
          left: 20px;
          right: 20px;
        }
      }
    }
  }
}